.buttons {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    height: 20vh;
}

.buttons div {

    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.buttons .button-3 {
    background-color: #463dc2cc;
}

.buttons .button-5 {
    background-color: #5b54becc;
}

.buttons .button-10 {
    background-color: #706bc0cc;
}

.counter-exp {
    position: relative;
    width: auto;
    height: 40vh;
}

.counter-exp div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #db5858;
}

.counter-exp-2 {
    position: relative;
    width: auto;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #db5858;
}



.counter-exp .text h1 {
    font-size: 20pt;
    color: #f1f1f1;
    margin: auto 15px auto;
}

.buttons div h1 {
    font-size: 50pt;
    color: #f1f1f1;
    margin: auto 15px auto;
}