<ion-content>
  <div class="card">
    <div class="front">
      <h1>So...</h1>
    </div>
    <div class="back">
      <h1>{{ cardText }}</h1>
    </div>
  </div>

  <div class="card2">
    <div class="button" (click)="resetPage()">
      <h1>Siguiente pregunta</h1>
    </div>
    <!-- <ion-button class="custom-button" (click)="resetPage()">Siguiente pregunta</ion-button> -->
  </div>
  <!-- <ion-card class="carta-box" >
    <ion-card-content  class="carta">
      <p class="cara">
        <img src="../../assets/images/backcard.png">
      </p>
      <p class="cara detras">{{ cardText }}</p>
    </ion-card-content>
  </ion-card>
  
  <div class="centered-button">
    <ion-button class="custom-button" (click)="resetPage()">Siguiente pregunta</ion-button>
  </div> -->
</ion-content>

<!-- 
<ion-header>
  <ion-toolbar>
    <ion-title>
      Carta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> -->
<!-- Carta reversa -->
<!-- <div class="card-container" (click)="flipCard()">
    <div class="card" [ngClass]="{ 'flipped': isFlipped }">
      <div class="front">
        <img src="assets/card-back.png" alt="Reverso de la carta">
      </div>
      <div class="back">
        {{ cartaText }}
      </div>
    </div>
  </div> -->

<!-- Botón de reinicio -->
<!-- <ion-button expand="full" (click)="resetCard()">Reiniciar</ion-button>
</ion-content> -->